body{
    margin: 2cm;
    background-color: cyan;color: black;
    display: flex;column-gap: 8px;
}
header{
    background-color: magenta;color:azure
h1 to h6{
    background-color: cyan;color: gold;
}
table{
    width: 15cm;height: 8cm;
}
img{
    width: 20px;height: 200px;margin-left: 12cm;
}